.masterContainer {
    margin-top: 2em;
    /* border: solid 1px red; */
    display: flex;
    justify-content: center;
    /* background-color: #008067; */
}

.badgeForm {
    width: 1200px;
    /* border: solid 1px red; */
    display: flex;
    justify-content: center;
}

.contenedorLogoFrom {
    /* border: solid 1px rgb(50, 122, 205); */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    background-color: #161c35;
}

.borderCard {
    /* border: solid 1px yellowgreen; */
    width: 40%;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url('../img/fondo.png');
    color: #fff;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.borderCard>h1 {
    text-transform: uppercase;
    letter-spacing: 3pt;
}

.borderCard>h2 {
    text-transform: uppercase;
    color: #1fd5b9;
    letter-spacing: 2pt;
}

form {
    /* border: solid 1px #fff; */
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;
}

input {
    width: 95%;
    height: 3em;
    background-color: transparent;
    border: solid 1px #fff;
    margin-top: 1em;
    color: #fff;
    font-size: 15px;
}

input::placeholder {
    padding-left: 0.5em;
    color: #ffffffc2;
    font-size: 15px;
}

/* .tyc {
    border: solid 1px purple;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tyc>input {
    width: 33px;
    margin-left: 2em;
    cursor: pointer;
} */

select {
    background-color: transparent;
    width: 95%;
    height: 3em;
    border: solid 1px #fff;
    border-radius: 0;
    color: #ffffffc2;
    font-size: 15px;
    margin-top: 1em;
}

button {
    border: none;
    width: 96%;
    height: 3em;
    color: #fff;
    font-size: 15px;
    background-color: #1fd5b9;
    text-transform: uppercase;
    letter-spacing: 1pt;
    margin-top: 1em;
}

.metodoDePago{
    display: none;
}

.numeroDeMesa{
    display: none;
}

.reference{
    display: none;
}

.comite{
    display: none;
}

.numeroCaja{
    display: none;
}